<template id="cookie-consent">
	<style>
		:host {
			position: fixed;
			position: sticky;
			display: block;
			bottom: 0;
			right: 0;
			left: 0;
			z-index: 1000;
		}
	
		.banner {
			width: 100%;
			max-width: 1060px;
			margin: 0 auto;
			padding: 0.5em 1em;
			align-items: center;
			justify-content: space-between;
			box-sizing: border-box;
			display: flex;
			line-height: 1.4;
			font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
			font-size: 16px;
		}
		
		.info { padding-right: 0.8em; }
		
		.info, .button { margin: 0.6em 0; }
		
		.button {
			font-weight: 700;
			font-size: 0.9em;
			padding: 0.8em;
			text-align: center;
			min-width: 140px;
			cursor: pointer;
			border-radius: 3px;
		}
		
		.button:hover { opacity: 0.8; }
		
		.text { padding-right: 0.2em; }
		
		
		/* Responsive */
		@media screen and (max-width: 639px) {
			.banner {
				font-size: 14px;
				flex-wrap: wrap;
			}
			
			.button { width: 100%; }
		}
		
		
		/* Mono theme */
		:host(.mono) {
			background-color: #007AFF;
			color: #FFF;
		}
		
		:host(.mono) .button {
			border: 2px solid #FFF;
		}
		
		:host(.mono) .link { color: #DDD; }
		
		:host(.mono) .link:hover { color: #FFF; }
		
		
		
		/* Corporate theme */
		:host(.corporate) {
			background-color: #EDEFF5;
			color: #838391;
			box-shadow: 0 0 8px rgba(0,0,0,0.2);
		}
		
		:host(.corporate) .button {
			background-color: #4B81E8;
			color: #FFF;
		}
		
		:host(.corporate) .link { color: #4B81E8; }
		
		:host(.corporate) .link:hover { color: #71A7FF; }
		
		
		
		/* Honeybee theme */
		:host(.honeybee) {
			background-color: #1D2129;
			color: #FFF;
		}
		
		:host(.honeybee) .button {
			background-color: #F1D600;	
			color: #1D2129;
		}
		
		:host(.honeybee) .link { color: #CCC; }
		
		:host(.honeybee) .link:hover { color: #FFF; }
	</style>
	
	<div class="banner">
		<div class="info">
			<span class="text"><slot></slot></span>
			<a class="link" title="Mehr erfahren" target="_blank">Mehr erfahren</a>
		</div>
		
		<div class="button">Alles klar!</div>
	</div>
</template>

<script>
	/* IE & EDGE FAILOVER [remove] */
	if(typeof customElements === 'undefined') {
		document.addEventListener('DOMContentLoaded', () => {
			var element = document.querySelector('cookie-consent');
			element.style.position = 'fixed';
			element.style.backgroundColor = '#FFF';
			element.style.padding = '1em 0';
			element.style.position = 'fixed';
			element.style.bottom = '0';
			element.style.right = '0';
			element.style.left = '0';
			element.style.textAlign = 'center';
		});

	/* Default routine */
	} else customElements.define('cookie-consent', class extends HTMLElement {
		constructor() { super(); }
		
		/* Render template */
		connectedCallback() {
			var root = this.attachShadow({mode: 'open'});
			var template = document.currentScript ? document.currentScript.ownerDocument.querySelector('template') : document.querySelector('template#cookie-consent');
			
			/* Check cookie setting */
			if(document.cookie.indexOf('COOKIECONSENT') < 0) {
				
				/* Show banner */
				root.appendChild(template.content.cloneNode(true));
				root.querySelector('a.link').href = this.getAttribute('href') || 'https://luniversity.de/info/privacy';
				root.querySelector('.button').addEventListener('click', () => {
					
					/* Store setting */
					var now = new Date();
					document.cookie = 'COOKIECONSENT='+now.toUTCString()+'; expires=Tue, 19 Jan 2038 03:14:07 GMT';
					root.innerHTML = '';
				});
			}
		}
	});
</script>