<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="google" content="notranslate">

		<title>HFT App &middot; Startet...</title>
		
		<link rel="stylesheet" href="/style/page.scss">
		
		<script src="/script/insight.js" defer></script>
		<script>
			(async () => {
				if(!('serviceWorker' in navigator)) location = '/error/incompatible';
				await navigator.serviceWorker.register('/index.js');
				await navigator.serviceWorker.ready;
				location.reload(true);
			})();
		</script>
	</head>
	<body>
		<header>
			<div class="container">
				<h1>
					<span class="light">Hochschule </span>
					<span class="bold">für&nbsp;Technik</span>
				</h1>
			</div>
		</header>
		
		<section>
			<div class="container">
				<div class="icons">
					<span class="icon icon-mobile"></span>
					<span class="icon icon-cogs"></span>
				</div>
				<div class="info">
					<p>Bitte warte, während die App startet...</p>
					<p>Falls die App nicht startet, musst du den Cache deines Browsers leeren oder die App neu installieren.</p>
				</div>
			</div>
		</section>
		
		<footer>
			<div class="container">
				<span>
					<a href="https://github.com/luniverse/hft-app" title="GitHub Repository" target="_blank" class="icon icon-prepend icon-github-alt">hft-app</a> &middot; 
					<a href="//luniversity.de/info/imprint" title="Impressum" target="_blank">Impressum</a>
				</span>
			</div>
		</footer>
	</body>
</html>