<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="google" content="notranslate">
		
		<title>HFT App &middot; Anmelden</title>
		
		<link rel="stylesheet" href="/style/page.scss">
		
		<script src="/script/insight.js" defer></script>
	</head>
	<body>
		{{>header}}
		
		<section class="login">
			<div class="container">
				<div class="icons">
					<span class="icon icon-mobile"></span>
					<span class="icon icon-lock"></span>
				</div>
				
				<div class="info">
					<p>Melde dich mit deinem Konto an. Deine Daten werden verschlüsselt übertragen.</p>
				</div>
			
				<form method="POST" {{#error}}class="shaking"{{/error}} onsubmit="this.querySelector('button').classList.add('active')">
					<div class="group">
						<input required name="username" type="text" placeholder="Benutzername">
						<input required name="password" type="password" placeholder="Passwort">
					</div>
					<label>
						<input required name="accepted" type="checkbox" value="true">
						<span>Ich akzeptiere die <a class="underlined" href="//luniversity.de/info/terms" title="Nutzungsbedingungen" target="_blank">Nutzungsbedingungen</a>.</span>
					</label>
					<button name="submit" data-idle="Anmelden" data-active="Meldet an..."></button>
				</form>
			</div>
		</section>
		
		{{>footer}}
	</body>
</html>