<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="google" content="notranslate">
		
		<title>HFT App &middot; {{page.title}}</title>
		
		<link rel="stylesheet" href="/style/main.scss">
		
		<script>
			{{! Add username to insight report }}
			var _paq = _paq || [];
			_paq.push(['setUserId', '{{username}}']);
			_paq.push(['setCustomDimension', 1, '{{device}}']);
		</script>
		
		<script src="/script/lu.min.js" defer></script>
		<script src="/script/client.js" defer></script>
		<script src="/script/insight.js" defer></script>
	</head>
	<body data-page="{{page.name}}">
		<header>
			<div class="container">
				<a class="menu icon" href="/menu"></a>
				<div class="title">{{page.title}}</div>
				<a class="{{#unread.length}}unread{{/unread.length}} messages icon" href="/messages"></a>
			</div>
		</header>
	
		{{>content}}
		
		<footer>
			<div class="container">
				{{#tabs}}
					<a href="/{{name}}" {{#active}}class="active"{{/active}}>
						<span class="icon {{name}}"></span>
						<span class="title">{{title}}</span>
					</a>
				{{/tabs}}
			</div>
		</footer>
	</body>
</html>